.app-container {
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

button {
  width: 33%;
}

.flex-div {
  display: flex;
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.pb-20 {
  padding-bottom: 20px;
}

.content-div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 5px;
}